/* the app should take up the whole screen */
html, body, .App, #root {
  height: 100vh;
  width: 100vw;
  overflow: none;
}

.App {
  text-align: center;
}

:root {
  --dull-color: #264653;
  --fore-color: #2A9D8F;
  --present-color: #E9C46A;
  --show-color: #F4A261;
  --attention-color: #E76F51;
  --disabled-color: #99917a;
}

*, *:before, *:after {
  box-sizing: border-box;
}